{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News!</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">NEWS</div>

        <span class="clickable create-post"><a href="{% url 'create' %}">create post</a></span>

        <div class="user-info">
            <span class="username">Welcome, {% if user %} {{ user }} {% else %}Anon {% endif %}</span>
            <span class="clickable">login</span>
        </div>
    </header>
    <main class="main">
    {% if posts %}
        {% for post in posts %}
        <div class="post">
            <div class="actions">
                <div>
                    <span class="clickable">upvote</span>
                    <span class="counter">{{ post.upvotes }}</span>
                </div>
                <div>
                    <span class="clickable">comments</span>
                    <span class="counter">77</span>
                </div>
            </div>

            <div class="post-info">
                <h2>{{ post.title }}</h2>
                by <i>{{ post.author }}</i> at <b>{{ post.creation_date }}</b>
            </div>

            <div class="source clickable">
                {{ post.link }}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h2>No posts yet...</h2>
    {% endif %}
    </main>
</body>
</html>